/* 
	Sample CSS file to go with the Heroku/Tornado setup

	Author: Michael Dory
	11.12.11, updated 11.24.12
*/


/* main */

#main {
}
body { 
  padding-top: 100px; 
  margin: 20px;
}
#character{
  height: 500px;
  width: 400px;
}
#hukidashi{
  position: absolute; 
  top: 10px; 
  left: 0px; 
  width: 150px;
}
#hukidashi_msg{
  position: absolute; 
  top: 30px; 
  left: 20px; 
  width: 100px;
}
#manager{
  position: absolute; 
  top: 15px; 
  left: 160px; 
  width: 200px;
}
