/* 
	Sample CSS file to go with the Heroku/Tornado setup

	Author: Michael Dory
	11.12.11, updated 11.24.12
*/


/* main */

#main {
}
body { 
  padding-top: 60px; 
  margin: 30px;
  background-image: url("../image/bg-main.gif")
}
#manager-area{
  margin-right: 30px;
  height: 350px;
  width: 310px;
  left: 10px;
  background-image: url("../image/bg-big.gif")
}
#hukidashi{
  position: absolute; 
  top: 240px; 
  left: 0px; 
  width: 280px;
  height: 100px;
}
#hukidashi_msg{
  position: absolute; 
  top: 250px; 
  left: 10px; 
  width: 270px;
  word-wrap: break-word;
}
#manager{
  position: absolute; 
  top: 20px; 
  left: 0px; 
  width: 280px;
}
.msg-text{
  word-wrap: break-word;
}
