<div class="container">
  <div class="row">
<nav class="navbar navbar-default navbar-fixed-top ">
    <!-- ヘッダー部分 ================ -->
    <div class="navbar-header">
        <a class="navbar-brand" href="/home/1">マネージャーといっしょ☆</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- 中央のナビゲーション部分 ================ -->
    <div class="collapse navbar-collapse" id="nav_target">
        <ul class="nav navbar-nav">
        <!-- リンクのみ -->
            <li><a href="/home/1">Home</a></li>
            <li><a href="/review">Review</a></li>
            <li><a href="/practice/1">Practice</a></li>
            <li><a href="/message/1">Message</a></li>
            <li class="dropdown">
                <a href="/members/all" class="dropdown-toggle" data-toggle="dropdown">
                    Members<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/members/all">All</a></li>
                    <li><a href="/members/1">１年</a></li>
                    <li><a href="/members/2">２年</a></li>
                    <li><a href="/members/3">３年</a></li>
                    <li><a href="/members/4">４年</a></li>
                    <li><a href="/members/5">５年</a></li>
                    <li><a href="/members/6">６年</a></li>
                </ul>
            </li>
        </ul>
        <!-- 右寄せになる部分 ================ -->
        <ul class="nav navbar-nav navbar-right">
            <!-- リンクのみ -->
            <li><a href="/auth/logout">Logout</a></li>
            <!-- Nav6 ドロップダウン -->
        </ul>
    </div>
</nav>
</div>
</div>
