<div class="container">
  <div class="row">
<nav class="navbar navbar-default navbar-fixed-top ">
    <!-- ヘッダー部分 ================ -->
    <div class="navbar-header">
        <a class="navbar-brand" href="/home/1">マネージャーと一緒</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <!-- 中央のナビゲーション部分 ================ -->
    <div class="collapse navbar-collapse" id="nav_target">
        <ul class="nav navbar-nav">
        <!-- リンクのみ -->
            <li><a href="/home/1">Home</a></li>
            <li><a href="/form">Message</a></li>
        </ul>
        <!-- 右寄せになる部分 ================ -->
        <ul class="nav navbar-nav navbar-right">
            <!-- リンクのみ -->
            <li><a href="/auth/logout">Logout</a></li>
            <!-- Nav6 ドロップダウン -->
        </ul>
    </div>
</nav>
</div>
</div>
