<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ static_url("css/style.css") }}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if IE]><script type="text/javascript" src="../html5jp/excanvas/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="{{static_url("js/html5jp/graph/radar.js")}}"></script>
    <script type="text/javascript">
      window.onload = function() {
        var rc = new html5jp.graph.radar("chart");
        var param_data = "{{u_data[5]}}".split(",");
        var k_array = [];
        var v_array = [];
        v_array.push("u_data[2]")
        var tmp;
        for(var i=0; i<param_data.length; i++){
          tmp = param_data[i].split(":");
          k_array.push(tmp[0]);
          v_array.push(parseInt(tmp[1]));
        }
        if( ! rc ) { return; }
        var items = [
          v_array,
        ];
        var params = {
          aCap: k_array,
          aMax: 5,
          aMin: 0,
        }
        rc.draw(items, params);
      };   
    </script> 
    <title>home</title>
  </head>
  {% autoescape None %}
  <body>
      {% include "header.html" %}
      <div class="row">
        <h1>{{u_data[2]}}のHome</h1>
        <hr>
        <div class="col-md-4" id="manager-area" >
            <p style="position: relative;">
                <img id="manager" src="{{ static_url(pic_src)}}"/>
                <img id="hukidashi" src="{{ static_url("image/hukidashi.gif") }}"/>
                <span id="hukidashi_msg">
                      ここはアドバイスを表示する予定です♪
                      <a href="https://github.com/NIT-Anan-Procon/WM_Server">https://github.com/NIT-Anan-Procon/WM_Server</a>
                </span>
            </p>
        </div>
        <div class="col-md-4">
            <h4>{{u_data[2]}}さんのパラメータ</h4>
            <div><canvas width="400" height="300" id="chart"></canvas></div>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            <h4>{{u_data[2]}}さんに対するレビューメッセージ</h4>
            {% for r in reviews %}
                <h4><font size="3">From:</font>
                <font size="5" color="#6666ff">{{r[9]}}</font>（{{r[0]}}）</h4>
                <div class="alert alert-info msg-text">
                    <font size="3">タイトル: 
                        <font size="5" color="#000000">{{r[2]}}</font>
                        <br>
                        良かったポイント: <br>
                        <font size="4" color="#000000">
                            {{r[3]}}
                        </font><br>
                        練習リクエスト: <br>
                        <font size="4" color="#000000">
                            {{r[4]}}
                        </font><br>
                        評価: <br>
                        <font size="4" color="#000000">
                            <table border=1 class="table table-bordered">
                                <tr class="warning">
                                    {% for p in r[5].split(",") %}
                                      <th><font size="1" color="#000000">{{p.split(":")[0]}}</font></th>
                                    {% end %}
                                </tr>
                                <tr class="active">
                                    {% for p in r[5].split(",") %}
                                      <td>{{p.split(":")[1]}}</td>
                                    {% end %}
                                </tr>
                            </table>
                        </font>
                    </font>
                    <div align="right">
                        <font size="2" color="#888888">{{r[6][:-10]}}</font>
                    </div>
                </div>
                <br>
            {% end %}
            
            <div>
                {% if page_amount > 1 %}
    	              <ul class="pagination">
		                    {% for i in range(1,page_amount+1)%}
			                      {% if i == current_page %}
				                        <li class="active"><a href="{{i}}">{{i}}</a></li>
			                      {% else %}
				                        <li><a href="{{i}}">{{i}}</a></li>
			                      {% end %}
		                    {% end %}
    	              </ul>
                {% end %}
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ static_url("js/jquery-3.1.0.min.js")}}"></script>
    <script src="{{ static_url("js/bootstrap.min.js")}}"></script>
  </body>
</html>
